USE [master]
GO
/****** Object:  Database [MINIMARKET]    Script Date: 29/05/2025 23:53:26 ******/
CREATE DATABASE [MINIMARKET]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MINIMARKET', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MINIMARKET.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MINIMARKET_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MINIMARKET_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MINIMARKET].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MINIMARKET]
GO
/****** Object:  User [Anderson]    Script Date: 29/05/2025 23:53:27 ******/
CREATE USER [Anderson] FOR LOGIN [Anderson] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 29/05/2025 23:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nomapellido] [nvarchar](100) NULL,
	[correo] [nvarchar](100) NULL,
	[telefono] [nvarchar](20) NULL,
	[usuario] [nvarchar](50) NULL,
	[clave] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([id], [nomapellido], [correo], [telefono], [usuario], [clave]) VALUES (8, N'Victor Guevara', N'victorguevara@gmail.com', N'912345678', N'victors', N'00286213')
INSERT [dbo].[USUARIO] ([id], [nomapellido], [correo], [telefono], [usuario], [clave]) VALUES (9, N'Christopher', N'christopher@gmail.com', N'923456789', N'christs', N'00286214')
INSERT [dbo].[USUARIO] ([id], [nomapellido], [correo], [telefono], [usuario], [clave]) VALUES (10, N'Victor F', N'victorf@gmail.com', N'934567890', N'victorf', N'00286215')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIO__9AFF8FC66A701A1C]    Script Date: 29/05/2025 23:53:27 ******/
ALTER TABLE [dbo].[USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
